.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 450px;
  margin: auto;
  padding: 15px;
  color: #000;
}

.formHeader {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .label span {
    color: red;
  }
  
  .input, .select  {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    transition: .3s;
  }
  
  .button {
    width: 100%;
    font-size: 17px;
    background: #222;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
  }

  .button:hover {
    background: #000;
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
  }

  
  