.navbar {
    background: #222;
    color: #fff;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar .active {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
}