.header {
    width: 100%;
    padding: 1rem 4rem;
    background-color: #000;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin-right: 1.5rem;
}
  