.navbar {
    background: #222;
    color: #fff;
    padding: 15px;
    height: 50px;
}

.navRight {
    justify-self: flex-end;
}
  
.navRight .icon {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
}