.sidebar {
  top: 0;
  bottom: 0;
  position: sticky;
  min-height: 100vh;
  min-width: 250px;
  max-width: 300px;
  border-right: 1px solid gray;
  background-color: #333;
  padding: 1rem;
}

.side

.logo {
  width: 40px;
  height: 40px;
}

.titleSection {
  margin-bottom: 12px;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
}

.titleContent {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  justify-content: center;
}

.navigationSection {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.3rem 0;
}

.label {
  color: #fff;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}


  