.option {
  position: relative;
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: center;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease;
  color: #fff;
  margin: 0.3rem 0;
  text-decoration: none;
}

.option:hover {
  background-color: #444;
  color: #fff;
}

.optionSelected {
  background-color: #fff;
  color: #000;
}

.iconContainer {
  display: grid;
  place-content: center;
  width: 40px;
  height: 100%;
  font-size: 1.25rem;
}

.optionText {
  font-size: 12px;
  font-weight: 500;
}

.notification {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* background-color: #6366f1; */
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
}