.formGroup {
    margin-bottom: 1rem;
}

.select, .input {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    transition: .3s;
}

.label span{
    color: red;
}