
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Navbar */

  
  /* Dashboard */
  .dashboard {
    padding: 20px;
  }
  
  .dashboardCards {
    display: flex;
    gap: 60px;
    
  }
  
  .card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .card h2 {
    color: #222;
  }
  
  .dashboardContent {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  
  .tableContainer {
    background: white;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: #000;
  }
  
  .events {
    background: white;
    padding: 10px;
    border-radius: 8px;
    flex: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .tableContainer:hover {
    transform: scale(1.02);
  }
  .events:hover {
    transform: scale(1.02);
  }
  
  .dashboardTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .dashboardTable th, .dashboardTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .sportBadge {
    background: gold;
    padding: 2px 5px;
    border-radius: 3px;
  }
  
  /* Events */
  .eventCard {
    display: flex;
    align-items: center;
    background: #eef;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .eventDate {
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .eventTitle {
    font-weight: bold;
  }