  .dashboard {
    padding: 1.5rem;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @media (min-width: 1024px) {
    .cardsContainer {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
  
  .dashboardContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
  }

  @media (min-width: 1024px) {
    .dashboardContent {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
  
  .tableContainer {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: #000;
  }

  .tableTitle {
    font-size: large;
    font-weight: bold;
    color: #000;
    margin-top: 0;
  }
  
  .tableContainer:hover {
    transform: scale(1.02);
  }