.mainContainer {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1.5rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1.5rem;
}