.card {
  box-sizing: border-box;
  width: 300px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  outline: .1rem solid #ebe5eb;
  border-radius: .8rem;
  text-decoration: none;
  overflow: hidden;
  background: #fff;
}
  
  /* .card:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  } */

  .logo {
    display: flex;
  }
  
  .image {
    width: 80px;
    height: 80px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .arrow {
    font-size: 22px;
    color: #000;
    font-weight: bold;
  }
  