.container {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.teamLabel {
    margin-top: 0;
    font-size: large;
    font-weight: bold;
}

.modalContainer {
    border-radius: 20px;
}

.modalContainer::-webkit-scrollbar {
    display: none;
}