.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  color: black;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 15px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter label{
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgba(55, 65, 81);
  margin-bottom: .25rem;
}

.input, .select {
  padding: 10px;
  border-radius: .375rem;
  border: 1px solid rgba(209, 213, 219);
  outline: none;
  transition: .3s;
  width: 13rem;
}

.button {
  background: #222;
  padding: 10px;
  border: none;
  border-radius: .375rem;
  cursor: pointer;
  transition: .3s;
  color: #fff;
}

.button:hover {
  background: #000;
}