.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card {
  background: white;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sectionButton {
  align-self: flex-end;
  margin-bottom: 1rem;
}
.button {
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 5rem;
}

.button:hover {
    background-color: black;
    color: white;
}

.formContainer {
  padding: 1rem;
  color: #000;
}
  
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.label span {
  color: red;
}
  
.input {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  transition: .3s;
}
  
.button {
  width: 100%;
  font-size: 17px;
  background: #222;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
  color: #fff;
}

.button:hover {
  background: #000;
}